<div class="container-fluid">
	<div class="col-md-12">
		<div class="row">
			<div class="col-md-12">
				<table class="table">
					<tbody>
						<% user.regists.forEach( function(model) { %>
						<tr>
							
							<td><%=model.name%></td>
							<td></td>
							<td></td>
							<td><%=model.date%></td>
							<td><%=model.time%></td>
							<td><%=model.venue%></td>
							<td><a href="/activity/removeActivity?aid=<%=model.id%>"> UnReg</a></td>
						</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>